:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

body {
    background-color: gray;
    background-position: center;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.description-text-center {
    text-align: center;
}